@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto:wght@500&display=swap');

.tdcandidate {
  padding: 10px;
  text-align: center;
  margin: 50px;
  border: 1px solid #ffffff;
  font-size: 1.5rem;
  /* background-color: #a9d18e; */
}
.candidateth {
  color: white;
}
.tdcandidaterow:nth-child(even) {
  background-color: rgba(
    248,
    215,
    205,
    0.4
  ); /* hange this color to the desired even row color */
}

/* Style for odd rows */
.tdcandidaterow:nth-child(odd) {
  background-color: #f8d7cd; /* Change this color to the desired odd row color */
}
.searchBox{
    height: 3rem;
border: none;
outline: none;
height: "2rem",;
width: 16rem;
font-size: 1.4rem;
font-family: 'Mulish', sans-serif;
}
.searchContainer {
  height: 3rem;
  width: 18rem;
  margin-top: 4rem;
  border: 3px solid #ed7d31;
  width: 20rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
