* {
  margin: 0;
  padding: 0;
}
.themainSection {
  display: flex;
  flex-direction: row;
  /* border: 10px solid green; */
  height: 35rem;
  font-family: sans-serif;
  font-weight: 100;
}

.rightContainer {
  padding: 1rem;
display: block;
margin: auto;
}
.matchTextz{
  margin-top: 1rem;
  font-size: 4rem;
  font-family: sans-serif;
  font-weight: 500;
}
.matchidstring {
  font-size: 2rem;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: 100;
}
.calendar {
  position: absolute;
  top: 11rem;
  left: 40rem;
  border: 2px solid black;
}
.calendarmeeting {
  top: 3rem;
  position: absolute;
  left: 0;
  border: 2px solid black;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.customButton {
  margin: 3px 0px;
  border-radius: 5px;
  cursor: pointer;
  height: 2rem;
  width: 6rem;
  background-color: #006edc;
  color: white;
  font-size: 16px;
  border: none;
  letter-spacing: 3px;
  font-weight: "500";
}
.matchdescription {
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: 100;
}
.matchContainer {
  margin-top: 3rem;
}
.matchSection {
  display: flex;
}
.userInput {
    height: 2.5rem;
    width: 16rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.matchuser1 {
  width: 20rem;
  border: 1px solid black;
  margin-right: 2rem;
  text-align: center;
}
.matchuser2 {
  width: 20rem;
  border: 1px solid black;
  margin-left: 2rem;
  text-align: center;
}
.fontsmatch {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 100;
  line-height: 1.5rem;
}
.bottomContainer {
  display: flex;
  margin-top: 3rem;
}
.blue {
  color: rgb(81, 178, 216);
}
a {
  text-decoration: none;
  color: white;
}
.activebutton {
  background-color: #ed7d31;
}

.toast1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 6rem;
  font-size: 1.4rem;
  font-weight: bold;
  height: 8rem;
  width: 19rem;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-color: #f6e39c;
}

.toast2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 16rem;
bottom: 11rem;
  font-size: 1.4rem;
  font-weight: bold;
  height: 8rem;
  width: 19rem;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border: 2px solid black;
  background-color: #f6e39c;
}

.toastText {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 100;
}
.toastText2 {
  font-weight: 100;
  font-size: 1.3rem;
}
.manualMatch {

}
.theButtonContainer{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.yellowHeadLine{
  background-color: #FFD966;
  padding: 0.3rem;
  margin-right: 2rem;
}
.bottomBoxes{
  border: 1px solid black;
  width: 20rem;
}
.bottomBoxesContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem 0rem 1rem;
}
@media only screen and (max-width: 900px) {
  input {
    height: 57px;
    width: 253px;
  }
}
@media only screen and (max-width: 814px) {
  .inputContainer {
    width: 60vw;
  }
  input {
    height: 45px;
    width: 230px;
  }
  label {
    font-size: 15px;
  }
  .inputFieldContainer {
    margin-right: 3%;
  }
}
@media only screen and (max-width: 624px) {
  input {
    height: 36px;
    width: 201px;
  }
  label {
    font-size: 13px;
  }
  .inputFieldContainer {
    margin-right: 1%;
  }
}
@media only screen and (max-width: 546px) {
  input {
    width: 183px;
  }
  label {
    font-size: 13px;
  }
  .inputFieldContainer {
    margin-right: 0px;
  }

  table {
    width: 30%;
  }
}
@media only screen and (max-width: 498px) {
  input {
    width: 183px;
  }
  .inputContainer {
    width: 65vw;
  }
  label {
    font-size: 13px;
  }
  .inputFieldContainer {
    margin-right: 0px;
  }
  table {
    width: 15%;
  }
  td {
    padding: 3px;
  }
}
@media only screen and (max-width: 447px) {
  input {
    width: 183px;
    margin-right: 5px;
    width: 161px;
  }
  .inputContainer {
    width: 65vw;
  }
  label {
    font-size: 13px;
  }
  .inputFieldContainer {
    margin-right: 0px;
    padding: 0px;
    margin-top: 10px;
  }
  th {
    padding: 0px;
  }
  td {
    padding: 3px;
  }
}

@media only screen and (max-width: 390px) {
  input {
    width: 140px;
    margin-right: 5px;
    width: 161px;
  }
  .inputContainer {
    width: 65vw;
  }
  label {
    font-size: 13px;
  }
  .inputFieldContainer {
    margin-right: 0px;
    padding: 0px;
    margin-top: 10px;
  }
  td {
    padding: 0px;
  }
}
