@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
tr{
    font-family: 'Mulish', sans-serif;
}
.sectionMain{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* border: 10px solid green; */
    height: 35rem;
    margin-left: 10rem;
}

.userstext{
    font-size: 40px;
    font-family:  sans-serif;
    font-weight: 100;
}
.usersdescription{
    font-size: 20px;
    padding: 5px 0px;
    font-family:sans-serif;
    font-weight: 100;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }


   .td {
    padding: 10px;
    text-align: center;
    margin: 50px;
    border: 1px solid #ffffff;
    background-color: #A9D18E;
    font-size: 2rem;
  }

  .th{
    background-color: #ED7D31;
    font-weight: bold;
  } 

a{
    text-decoration: none;
    color: white;
}
.activebutton{
    background-color: #ED7D31;
}


@media only screen and (max-width: 900px) {
    
    input{
        height: 57px;
width: 253px;
    }
}
@media only screen and (max-width: 814px) {
   
    .inputContainer{
        width: 60vw;
    }
    input{
        height: 45px;
width: 230px;
    }
    label{
        font-size: 15px;
    }
    .inputFieldContainer{
        margin-right: 3%;
    }

}
@media only screen and (max-width: 624px) {
    input{
        height: 36px;
        width: 201px;
    }
    label{
        font-size: 13px;
    }
    .inputFieldContainer{
        margin-right: 1%;
    }
}
@media only screen and (max-width: 546px) {
    input{
        width: 183px;
    }
    label{
        font-size: 13px;
    }
    .inputFieldContainer{
        margin-right: 0px;
    }
   
    table {
        width: 30%;
      }
}
@media only screen and (max-width: 498px) {
    input{
        width: 183px;
    }
    .inputContainer{
        width: 65vw;
    }
    label{
        font-size: 13px;
    }
    .inputFieldContainer{
        margin-right: 0px;
    }
    table {
        width: 15%;
      }
      td{
        padding: 3px;
      }
}
@media only screen and (max-width: 447px) {
    input{
        width: 183px;
        margin-right: 5px;
        width: 161px;
    }
    .inputContainer{
        width: 65vw;
    }
    label{
        font-size: 13px;
    }
    .inputFieldContainer{
        margin-right: 0px;
        padding: 0px;
        margin-top: 10px;
    }
    th{
        padding: 0px;
    }
    td{
        padding: 3px;
    }
}

@media only screen and (max-width: 390px) {
    input{
        width: 140px;
        margin-right: 5px;
        width: 161px;
    }
    .inputContainer{
        width: 65vw;
    }
    label{
        font-size: 13px;
    }
    .inputFieldContainer{
        margin-right: 0px;
        padding: 0px;
        margin-top: 10px;
    }
    td{
        padding: 0px;
      }
}